<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!--LiDAR-->
	<!--<node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
		<param name="serial_port"         type="string" value="/dev/ttyLiDAR"/>  
		<param name="serial_baudrate"     type="int"    value="256000"/>
		<param name="frame_id"            type="string" value="laser"/>
		<param name="inverted"            type="bool"   value="false"/>
		<param name="angle_compensate"    type="bool"   value="true"/>
		<param name="scan_mode"           type="string" value="Stability"/>
	</node>-->

	<!--GPS-->
	<!--<include file="$(find ntrip_ros)/launch/ntrip_ros.launch"></include>-->

	<!--IMU-->
	<!--<node pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver">
		<param name="port" value="/dev/ttyIMU" />
		<param name="baud_rate" value="115200" />
	</node>-->

	<node pkg="tricat221"  type="heading_calculator.py" name="headingCalculator" respawn="true"/>
	<node pkg="tricat221"  type="gnss_converter.py" name="gnssConverter" respawn="true"/>
	<node pkg="tricat221" type="lidar_converter.py" name="lidarConverter" respawn="true" output="screen"/>
	<node pkg="tricat221" type="autonomous.py" name="autonomous" respawn="true" output="screen"/>
	<!--<node pkg="tricat_211" type="serial_node.py" name="ARDUINO" args="/dev/ttyARDUINO" respawn="true"/>-->

	<node pkg="rviz" type="rviz" name="rviz_auto" args="-d $(find tricat221)/rviz/rviz_setting1.rviz" />
	<!--<node pkg="rviz" type="rviz" name="rviz_lidar" args="-d $(find tricat221)/rviz/lidar.rviz" />-->
	<node name="rqt" pkg="rqt_graph" type="rqt_graph"/>
	
	<!--PARAMETER-->
	<rosparam command="load" file="$(find tricat221)/params/lidar_params.yaml"/>
	<rosparam command="load" file="$(find tricat221)/params/autonomous_params.yaml"/>
	<rosparam command="load" file="$(find tricat221)/params/coordinates.yaml"/>
	
</launch>
