<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!--GPS-->
	<include file="$(find ntrip_ros)/launch/ntrip_ros.launch"></include>

	<!--IMU-->
	<node pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver">
		<param name="port" value="/dev/ttyIMU" />
		<param name="baud_rate" value="115200" />
	</node>

	<node pkg="tricat221"  type="heading_calculator.py" name="headingCalculator" respawn="true"/>
	<node pkg="tricat221"  type="gnss_converter.py" name="gnssConverter" respawn="true"/>
	<node pkg="tricat221" type="hopping_tour.py" name="hoppingTour" output="screen"/>
	<node pkg="tricat221" type="serial_node.py" name="ARDUINO" args="/dev/ttyARDUINO" respawn="true"/>

	<!-- <node name="rqt" pkg="rqt_graph" type="rqt_graph"/> -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find tricat221)/rviz/rviz_setting2.rviz" />
	
	<!--PARAMETER-->
	<rosparam command="load" file="$(find tricat221)/params/lidar_params.yaml"/>
	<rosparam command="load" file="$(find tricat221)/params/hopping_params.yaml"/>
	<rosparam command="load" file="$(find tricat221)/params/coordinates.yaml"/>
	
</launch>
