<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!--IMU-->
	<!-- <node pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver">
		<param name="port" value="/dev/ttyIMU" />
		<param name="baud_rate" value="115200" />
	</node>
	<node pkg="tricat221"  type="heading_calculator.py" name="headingCalculator" respawn="true"/> -->

	<!--Visualization-->
	<!-- <node name="rqt" pkg="rqt_graph" type="rqt_graph"/> -->

	<!--Serovo Test-->
	<!-- <node pkg="tricat221" type="servo_test.py" name="servo_test" output="screen"/>
	<rosparam command="load" file="$(find tricat221)/params/servo_params.yaml"/>
	<node pkg="tricat221" type="serial_node.py" name="ARDUINO" args="/dev/ttyARDUINO" respawn="true"/> -->

	<!--LiDAR Test-->
	<!-- <node pkg="rosbag" type="play" name="rosbag_play" required="true" args="$(find tricat221)/etc/rosbag/0804_fountain_wrong_psi.bag -l--> <!--topics /scan"/> -->
	<!-- <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
		<param name="serial_port"         type="string" value="/dev/ttyLiDAR"/>  
		<param name="serial_baudrate"     type="int"    value="256000"/>
		<param name="frame_id"            type="string" value="laser"/>
		<param name="inverted"            type="bool"   value="false"/>
		<param name="angle_compensate"    type="bool"   value="true"/>
		<param name="scan_mode"           type="string" value="Stability"/>
	</node>
	<node pkg="tricat221" type="lidar_converter.py" name="lidarConverter" respawn="true" output="screen"/>
	<rosparam command="load" file="$(find tricat221)/params/lidar_params.yaml"/>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find tricat221)/rviz/rviz_setting1.rviz" /> --> -->

	<!--Cam Test-->
	<!-- <rosparam command="load" file="$(find tricat221)/params/docking_params.yaml"/>
	<rosparam command="load" file="$(find tricat221)/params/coordinates.yaml"/>
	<node pkg="rosbag" type="play" name="rosbag_play" required="true" args="$(find tricat221)/etc/rosbag/cam-rosbag/one_mark.bag -l--> <!--topics /usb_cam/image_raw"/>
	<node pkg="tricat221" type="camera_test.py" name="camera_test" output="screen" /> -->

	<!--GPS Test-->
	<!-- <node pkg="rosbag" type="play" name="rosbag_play" required="true" args="$(find tricat221)/etc/rosbag/0804_fountain_wrong_psi.bag -l--> <!--topics /ublox_gps/fix "/> -->
	<node pkg="tricat221" type="gnss_converter_re.py" name="gps_test" output="screen" />

</launch>
