<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!-- Recording -->
	<node pkg="rosbag" type="play" name="rosbag_play" required="true" args="$(find tricat221)/data/rosbag/final-auto-final.bag -l --topics /imu/mag /ublox_gps/fix /scan "/> 

	<!-- Nodes -->
	<node pkg="tricat221" type="lidar_converter.py" name="lidarConverter" output="screen"/>
	<node pkg="tricat221"  type="heading_calculator.py" name="headingCalculator"/>
	<node pkg="tricat221"  type="gnss_converter.py" name="gnssConverter"/>
	<node pkg="tricat221" type="autonomous.py" name="autonomous" output="screen"/>

	<!-- Visualization -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find tricat221)/rviz/rviz_conf_auto.rviz" />
	<!-- <node name="rqt" pkg="rqt_graph" type="rqt_graph"/> -->
	
	<!-- Parameters -->
	<rosparam command="load" file="$(find tricat221)/params/lidar_params.yaml"/>
	<rosparam command="load" file="$(find tricat221)/params/autonomous_params.yaml"/>
	<rosparam command="load" file="$(find tricat221)/params/coordinates.yaml"/>
	
</launch>